.Heading{
    color:#1F4F21;
}
.Para{
    color: #3d652a;
}
.ParaHeading{
    color:#1F4F21 ;
}
.shadow-box{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  }
  .img-org{
    vertical-align: middle;
    display: inline-block;
  }