.hover-effect {
  transition: transform 0.1s, box-shadow 0.1s;
}

.hover-effect:hover {
  transform: scale(1.003);
  box-shadow: 0 4px 8px rgb(23, 98, 6);
 
}

.image-container {
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}
