.card-color{
    background-color:aaa;
}
.text {
   color:#b30000
}
.icon{
    font-size: 25px;
    filter: brightness(70%);
}

.icon-location{
    color: red;
}
.icon-mail{
    color:#ff8800 
}
.icon-contact{
    color:#007acc
}
.li{
    list-style-type: none;
}