.navbar{
  background: transparent;

font-weight: 700;

  display: flex;
  color: #07182e;
  
  
}


.shadow-box{
  box-shadow: 0px 2px 5px rgba(15, 6, 87, 0.3);
}
.bg{
  background: white;
}
.text-col{
  color: #0d1a34;
}
.navbar.active{
  /* background-color:#ffffff; */
  color: rgb(8, 27, 85);
  
}
.navbar-blur{
  filter: blur(80%);
}
body {
  margin: 0;
}

header {
  margin: 0;
}

/* Or target specific elements like ul within your header */
.navbar ul {
  margin: 0;
}

.navbar {
  padding: 0;
}
